
    .container_tabela{
        display: flex;
        justify-content: center;
    }

    #tabela_usuario{
        border-collapse: collapse; 
        max-width: 300px;
        width: 100%;
        border-radius: 20px;
        margin-bottom: 20px;
        padding: 0;
        border: 1px solid rgb(78, 78, 78);
        overflow: hidden;


        & th{
            font-size: 16px;
            padding: 10px 10px 10px 10px;

        }

        & td{
            font-size: 16px;
            padding: 15px 5px 15px 5px;


        }


    }

    thead tr{
        color: white;
        background-color: rgb(32, 32, 32);
    }

    tbody tr:nth-child(odd) {
        background-color: #b6b6b6;
    }

    tbody tr:nth-child(even) {
        background-color: #cfcfcf;
    }
    